
@media screen and (max-width: 768px){

  /* Navbar */
  .navbar ul{
    margin-right: 5px;
  }
  
  /* Footer */
  footer .row{
    justify-content: center;
  }

  footer .col-10{
    text-align: center !important;
  }

  footer .col-12{
    display: block !important;
    text-align: center !important;
  }

  footer .logoY img{
    margin: 30px 0 20px 0;
  }

  footer .info {
    display: none;
  }


}

@media screen and (min-width: 769px){
  footer .info-responsivo{
    display: none;
  }
}