@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Noto+Sans&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root{
  --color-primary: #FECB37;
  --color-secondary: #333333;
  --color-text: #CDCCCC;
  --color-title: #FFFFFF;
  --color-btn-text: #000000;

}

/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Gerais*/
body {
  background-color: var(--color-secondary);
  font-family: 'Antonio', sans-serif;
  color: var(--color-primary);
}

.text-title{
  font-size: 20px;
  text-align: center;
  font-family: noto sans;
  color: var(--color-text);
  margin: 100px 0 0 0;
}

.title-section{
  color: var(--color-title);
  text-align: center;
  margin: 0 0 100px 0 ;
}

/* Navbar */
#hero .container-fluid,
.contato{
  margin-left: 1%;
}

#hero .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0;
  background: linear-gradient(90deg, rgba(30, 30, 30, 0.67) 1.05%, rgba(51, 51, 51, 0.67) 11.45%, rgba(51, 51, 51, 0.459081) 44.75%, rgba(51, 51, 51, 0.1) 101.44%);
  transition: .5s;
}

#hero .active-scroll{
  background: var(--color-secondary);
  transition: .5s;
}

nav a{
  text-align: right;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0;
  background: var(--color-secondary);
}


.navbar img{
  height: 65px;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-right: 15%;
  list-style: none;
  
}

.navbar a{
  text-decoration: none;
  font-size: 22px;
  color: var(--color-text);
  margin: 20px;
  align-content: center;
}

.navbar-nav .nav-link.active{
  color: var(--color-primary) ;
}

.navbar-nav .nav-link:hover{
  color: var(--color-primary) ;
}

.line hr{
  width: 93%;
  height: 3px;
  color: var(--color-primary);
  border-top: 2px solid;
  margin: 0 auto;
  padding: 0;
}

/* Nav-toggler */

.navbar-toggler {
  width: 30px;
  height: 30px;
  position: relative;
  transition: .5s ease-in-out;
  margin: 0;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
  position: relative;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: var(--color-primary);
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}


/* Estado quando a barra de navegação está recolhida */

.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}

/* quando a navegação é clicada */

.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-light .navbar-toggler {
  border: none;
}

/* Banner */
#hero{
  background-image: url(/img/main.jpeg);
  height: 100vh;
  background-size:cover;
  background-repeat: no-repeat;
}

#hero h1, 
#hero p{
  margin-left: 2%;
}

#hero h1{
  font-size: 140px;
  padding-top: 140px;
}
#hero p{
  font-family: noto sans;
  color: var(--color-text);
}

.whats-icon{
  text-align: end;
  font-size: 40px;
}

.whats-icon i{
  text-decoration: none;
  color:#37FE7B;
  position: fixed;
  bottom: 300px;
}

.container .whats-contact i{
  margin-top: -120px !important;
}

.line-top-home {
  background: linear-gradient(102.01deg, #1E1E1E -6.95%, rgba(51, 51, 51,.0) 92.34%);
  position: relative;
  top: 113px;
}

.line-top {
  background: rgba(51, 51, 51,1);
  position: relative;
  top: 114px;
}

.main-container {
  height: 88vh;
  position: relative;
  top: 113px;
  margin: 0 !important;
  background: linear-gradient(102.01deg, #1E1E1E -6.95%, rgba(51, 51, 51, 0.29) 92.34%);
}

#portfolio-home .tipos-container {
  padding-bottom: 150px;
}

#portfolio-home .col-3{
  padding: 0 15px 0 15px;
}

#portfolio-home .card{
  border-radius: 20px;
  background-color: transparent;
  border: none;
}

#portfolio-home .card::before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(51, 51, 51, .0),rgba(51, 51, 51, .1), rgba(51, 51, 51, .5), rgba(51, 51, 51, 1));;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#portfolio-home .tipos-container img {
  height: 450px;
  object-fit: cover;
  border-radius: 22px;
}

#portfolio-home .col-7{
  margin: 0 auto;
  margin-top: -30px;
  color: var(--color-title);
}

/* Sobre */
#sobre{
  text-align: center;
}

#sobre .container {
  margin-bottom: 150px;
  position: relative;
  top: 114px;
}

#sobre .sobre-text {
  text-align: justify;
  padding: 0 10%;
  color: var(--color-text);
  padding-bottom: 100px;
  font-family: noto sans;
}

#sobre .title-section {
  margin-bottom: 20px;
}

/* Portfólio */
#portfolio .tipos-container, 
#portfolio .container-projetos {
  display: flex;
  justify-content: space-between;

}

#portfolio .tipos-container img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#portfolio .card{
  border-radius: 20px;
  background-color: transparent;
  border: none;
}

#portfolio .card::before{
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(51, 51, 51, .0),rgba(51, 51, 51, .1), rgba(51, 51, 51, .5), rgba(51, 51, 51, 1));;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#portfolio {
  position: relative;
  top: 114px;
} 

#portfolio .container-projetos .col-3{
  padding: 0 15px 0 15px;
  border: none;
}

#portfolio .container-projetos img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#portfolio .container-projetos p{
  color: var(--color-text);
  font-family: noto sans;
  text-align: center;
  margin: 0 10px 20px 10px;
}

#portfolio .col-7{
  margin: 0 auto;
  margin-top: -30px;
}

#portfolio .tipos-container p {
  font-family: noto sans;
}

#portfolio .tipos-container{
  color: var(--color-text);
}

#portfolio .tipos-container .col-3{
  padding: 0 20px 0 20px;
}

#portfolio .tipos-container a{
  /* color: var(--color-primary); */
  border: none;
}

#portfolio .tipos-container img {
  border-width: 5px 5px 0px 5px;
  border-radius: 30px;
}

#portfolio .card-active{
  border: 1px solid var(--color-primary);
}

.card-active-txt{
  color: var(--color-primary);
}

#portfolio .double-down a{
  color: var(--color-primary);
  font-size: 3rem;
}

#portfolio .double-down{
  padding: 50px;
}

/* Galeria */
#galeria {
  position: relative;
  top: 114px;
  padding-bottom: 150px;
}

#galeria .container-fluid{
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

#galeria .content{
  background-color: var(--color-primary);
  border-radius: 40px;
  color: #1E1E1E;
  display: flex;
  padding: 30px;
  column-gap: 20px;
}

#galeria .content img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#galeria .content h2 {
  margin: 20px 0;
}

#galeria .content li, 
#galeria .content p{
  list-style: none;
  margin: 10px 0;
  font-family: noto sans;
  font-size: 12px;
}

#galeria .content p a{
  text-decoration: underline;
  color: var(--color-secondary);
}

#galeria a h1 {
  color: var(--color-primary);
  text-align: center;
}

#galeria .voltar-lnk a h1 {
  color: var(--color-secondary);
  text-align: left;
}

#galeria a {
  text-decoration: none;
}

#galeria .whats-contact{
  text-align: center;
  margin-top: 200px;
}

#galeria .card-img{
  display: flex;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#galeria .card-img img{
  border-radius: 20px;
  width: 100%;
  padding: 0 10px;
}

#galeria .card-img p{
  font-family: noto sans;
  font-size: 12px;
  color: var(--color-text);
  text-align: center;
  padding: 5px 10px;
}

#galeria .cards-galeria {
  padding-bottom: 50px;
}

#galeria .line {
  margin: 20px;
}

#galeria .card{
  border-radius: 20px;
  background-color: transparent;
  border: none;
}


#galeria .card::before {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(51, 51, 51, .0),rgba(51, 51, 51, .1), rgba(51, 51, 51, .5), rgba(51, 51, 51, 1));;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}


/* Contato */
.form-group, button {
  margin-bottom: 30px
}

.form-control {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-text);
  font-family: noto sans;
}

textarea {
  height: 150px;
}

.btn-send {
  background-color: var(--color-title);
  color: var(--color-btn-text);
  font-size: larger;
  transition: all 0.3s ease;
}

.btn-send:hover {
  background-color: var(--color-text);
  color: var(--color-btn-text);
}

#contato .container {
  position: relative;
  top: 113px;
  margin-bottom: 100px;
}

.form-container {
  padding-bottom: 100px;
}

/* Footer */
footer {
  background-color: var(--color-primary);
  color: var(--color-btn-text);
  padding: 50px 0 30px 0;
  border-radius: 2%;
  font-family: noto sans;
  margin-bottom: 20px;
}

footer .info p,
footer .info-responsivo p {
  font-family: 'Antonio', sans-serif;
  font-size: 18px;
}

footer .text-start{
  font-size: small;
}

footer img {
  width: 250px;
  margin-bottom: 20px;
}

footer .logoY img{
  width: 40px !important;
}

footer a {
  color: var(--color-btn-text);
  text-decoration: none;
  transition: all 0.3s ease;
}

footer i {
  font-size: 30px;
  margin: 10px;
}

footer .info a:hover,
footer .info-responsivo a:hover,
footer .social a:hover {
  color: var(--color-secondary);
}

footer .info-responsivo i {
  margin-top: 20px;
}
